flask
gunicorn
pycryptodome
google-cloud-firestore
google-api-python-client
google-cloud-texttospeech
google-cloud-storage
google-search-results
langid
openai
langchain
langchain-community
line-bot-sdk
tiktoken
pydub
pytz
requests
beautifulsoup4
wikipedia
googlemaps
Pillow
stripe
anthropic
anthropic-bedrock
google-auth
google-auth-oauthlib
google-auth-httplib2
python-dateutil
google-cloud-aiplatform
