<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Googleアカウント登録</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
        }
        h1 {
            font-size: calc(10px + 2vw); /* This sets the font size to be at least 10px, but scale up with the viewport width */
        }
    </style>
</head>
<body>
    <h1>Googleアカウントの登録が完了しました。</h1>
    <p>アプリケーションをLINEに切り替えてカレンダー機能をお楽しみください</p>
</body>
</html>
